@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.NavBarCard_Text{
  font-family: 'Silkscreen', cursive;
 
}
.homecard,
.aboutcard {
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
}

.gallery_contents {
  width: 100%;
  display: flex;
  margin: 20px auto;
  overflow-x: scroll;
  overflow-y: hidden;
}
.nfts {
  display: flex;
}
.nfts .itemBox {
  display: flex;
  align-items: center;
  width: 300px;
  height: 370px;
  margin-right: 40px;
  /* border:  2px solid yellow; */

  border-radius: 10px;
}
.itemboxbox {
  width: 100%;
}
.center_button {
  width: 100%;
}
.check_double{
  font-size: 25px;
}
.pricing_card{

  padding-left: 5%;
  padding-right: 5%;
}
.testimonial_card{
  height: 60vh;
}

.home_animie_1{
  animation-name: moveDown;
  animation-duration: 4s;
}
@keyframes moveDown{
  0%{
         transform: translateY(-120px);
         opacity: 0;
  }
  100%{
         transform: translateY(0);
         opacity: 1;  
  }
}

.home_animie_2{
  animation-name: moveLeft
  ;
  animation-duration: 4s;
}
@keyframes moveLeft{
  0%{
         transform: translateX(-120px);
         opacity: 0;
  }
  100%{
         transform: translateX(0);
         opacity: 1;  
  }
}

.home_animie_3{
  animation-name: moveUp;
  animation-duration: 4s;
}
@keyframes moveUp{
  0%{
         transform: translateY(120px);
         opacity: 0;
  }
  100%{
         transform: translateY(0);
         opacity: 1;  
  }
}